.creatable {
  position: relative;
}

.creatable__input {
  align-items: flex-end;
  display: flex;
}

.creatable__key-value-inputs {
  display: flex;
  align-items: flex-end;
  width: 20rem;
}

.creatable__colon {
  margin: 0 0.5rem 0.75rem 0.5rem;
}

.creatable__button {
  height: 3rem;
  margin-left: 1rem !important;
}

.creatable__chips {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.creatable__tooltip {
  position: absolute;
  right: -2rem;
  top: 2rem;
}