.chip {
  align-items: center;
  background: #40d5bb;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  height: 2rem;
  padding: 0.25rem 1rem;
  margin: 1rem 0.5rem 0 0;

  &:hover {
    background: #8ee9d4;
  }
}

.chip__icon {
  height: 0.75rem;
  width: 0.75rem;
}

.chip__value {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.03125rem;
  line-height: 1.125rem;
  margin: 0 0 0 0.5rem;
}